
/* --------------Google Fonts-------------- */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500&display=swap");

/* --------------Reset-------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* --------------Common-------------- */
body {
  width: 100%;
  min-height: 100vh;
  background: rgb(206, 205, 228);
  background: radial-gradient(circle,
      rgba(206, 205, 228, 1) 0%,
      rgba(191, 191, 250, 1) 42%,
      rgb(164, 226, 238) 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: blueviolet;
  font-size: 0.8rem;
  cursor: pointer;
}

p {
  color: #000000;
  text-align: center;
}

/* --------------Container-------------- */
.container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  perspective: 2000px;
  display: flex;
  justify-content: center;
  align-items: center;

}

/* ---------Slide--------- */
.container .slide {
  width: 100%;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: rotation 20s infinite linear;
}

.container .slide:hover {
  animation-play-state: paused;
}

/* Horizontal Rotation Animation */
@keyframes rotation {
  0% {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(-360deg);
  }
}

/* ---------Product Box--------- */
.container .slide .product-box {
  width: 350px;
  position: absolute;
  background: rgb(206, 205, 228);
  background: radial-gradient(circle,
      rgba(206, 205, 228, 1) 0%,
      rgba(154, 154, 255, 1) 42%,
      rgba(24, 161, 189, 1) 100%);
  padding: 20px;
  border-radius: 20px;
  margin: 0 10px;
}

.container .slide .product-box:nth-child(1) {
  transform: rotateY(60deg) translateZ(300px);
}

.container .slide .product-box:nth-child(2) {
  transform: rotateY(120deg) translateZ(300px);
}

.container .slide .product-box:nth-child(3) {
  transform: rotateY(180deg) translateZ(300px);
}

.container .slide .product-box:nth-child(4) {
  transform: rotateY(240deg) translateZ(300px);
}

.container .slide .product-box:nth-child(5) {
  transform: rotateY(300deg) translateZ(300px);
}

.container .slide .product-box:nth-child(6) {
  transform: rotateY(360deg) translateZ(300px);
}

/* Image */
.container .product-box .img {
  max-width: 450px;
  height: 300px;
  /* overflow: hidden; */
  margin-bottom: 10px;
  border-radius: 15px;
  transition: all 0.5s ease-in-out;
}

.container .product-box:hover .img {
  transform: scale(0.95);
}

.container .product-box .img>img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

/* Details */
.container .product-box .details {
  margin-bottom: 10px;
}

.container .product-box .details .name {
  font-size: 1rem;
}

.container .product-box .details .price {
  font-size: 1.1rem;
  font-weight: 500;
}

/* Button */
.container .product-box .button {
  text-align: center;
}

.container .product-box .button .add-btn {
  display: block;
  background-color: #000000;
  padding: 10px 15px;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}

.container .product-box .button:hover .add-btn,
.container .product-box .button .add-btn:hover {
  transform: rotateX(360deg);
  background-color: #ffffff;
  color: #000000;
}

/* --------------Media Queries-------------- */
@media (max-width: 768px) {

  /* ---------Container--------- */
  .container {
    overflow-y: auto;
  }

  /* ---Slide--- */
  /* Vertical Rotation Animation */
  @keyframes rotation {
    0% {
      transform: rotateX(0deg);
    }

    100% {
      transform: rotateX(-360deg);
    }
  }

  /* ---Product Box--- */
  .container .slide .product-box {
    max-width: 350px;
  }

  .container .slide .product-box:nth-child(1) {
    transform: rotateX(60deg) translateZ(400px);
  }

  .container .slide .product-box:nth-child(2) {
    transform: rotateX(120deg) translateZ(400px);
  }

  .container .slide .product-box:nth-child(3) {
    transform: rotateX(180deg) translateZ(400px);
  }

  .container .slide .product-box:nth-child(4) {
    transform: rotateX(240deg) translateZ(400px);
  }

  .container .slide .product-box:nth-child(5) {
    transform: rotateX(300deg) translateZ(400px);
  }

  .container .slide .product-box:nth-child(6) {
    transform: rotateX(360deg) translateZ(400px);
  }
}

@media (max-width: 550px) {

  /* ---Product Box--- */
  .container .slide .product-box {
    max-width: 250px;
  }
}
header{
  width: 100%;
}
nav>ul{
  display: flex;
  justify-content: space-between;
  margin: 3%; 
}
nav>ul>li{
  list-style: none;  
}
nav>ul>li>a{
  color: blueviolet;
  font-size: 20px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
nav>ul>li>a:hover{
  color: #0f0;
  
}
.bienCrade{
  height: 10vh;
  text-align: center; 
  margin-top: 3%;
  margin-bottom: 3%;
}
.caGonffle{
  font-size: 25px;
  font-weight: 900;
  color: #0f0;
 
}
.ici{
  font-size: 25px;
  font-weight: 900; 
}
